nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #212121;
  z-index: 5;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style-type: none;
  padding: 13px 70px;
}
.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}
.menu_link:hover {
  color: #cac7c7;
  text-decoration: underline;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.menu_item:last-child {
  border-right: none;
}

.subheader {
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 50px;
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader_official {
  margin-top: 6px;
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.5;
}
.subheader_call {
  font-weight: 300;
  font-size: 12px;
  color: #ffffff;
  text-align: right;
  margin-top: 19px;
}
.subheader_phone {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 12px;
  color: #ffffff;
  margin-top: 8px;
  text-transform: uppercase;
  text-align: right;
}
.subheader_phone:hover {
  color: #cac7c7;
  text-decoration: underline;
}
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.promo {
  /* position: relative; */
  min-height: 800px;
  width: 100%;
  background: url("../img/1/uber_bg.jpg") center center/cover no-repeat;
  padding: 65px 0px 135px 0px;
}
.promo_header, .promo_subheader, .promo_descr {
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}
.promo_header {
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
}
.promo_subheader {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin-top: 23px;
}
.promo_descr {
  max-width: 985px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: 16px;
}
.promo_btn {
  display: block;
  margin: 118px auto 0px auto;
  width: 259px;
  height: 63px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -4px 0px #1EACC7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.cause {
  min-height: 767px;
  background: #F2F2F2;
}
.cause_title {
  padding: 50px 20px 10px 20px;
}
.cause_label {
  display: block;
  margin: 0 auto;
  width: 113px;
  height: 24px;
  font-weight: 400;
  font-size: 11px;
  background: #000000;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0px 0px 0px;
}
.cause_h3 {
  display: block;
  margin: 0 auto;
  max-width: 723px;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin-top: 37px;
}
.cause_text {
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  color: #222222;
  text-align: center;
  margin-top: 19px;
}
.cause_item {
  display: flex;
  max-width: 550px;
  padding: 15px 0px 15px 0px;
}
.cause_badge {
  padding-top: 20px;
}
.cause_around {
  width: 116px;
  height: 116px;
  background: #1EACC7;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cause_descr {
  max-width: 500px;
  padding: 0px 20px 0px 25px;
}
.cause_descr span {
  color: #1EACC7;
}

.mobile {
  min-height: 864px;
  padding: 48px 0px 79px 0px;
}
.mobile_title {
  padding: 50px 0px 10px 0px;
}
.mobile_label {
  display: block;
  margin: 0 auto;
  width: 113px;
  height: 24px;
  font-weight: 400;
  font-size: 11px;
  background: #000000;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0px 0px 0px;
}
.mobile_h3 {
  display: block;
  margin: 0 auto;
  width: 723px;
  line-height: 38px;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  padding: 0 10px;
  margin-top: 37px;
}
.mobile_text {
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  color: #222222;
  text-align: center;
  margin-top: 19px;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 290px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 91px;
}
.mobile_item_1 {
  background: url("../img/3/item1.jpg") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/3/item3.jpg") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/3/item3.jpg") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/3/item4.jpg") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/3/item5.jpg") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/3/item6.jpg") center center/cover no-repeat;
}
.mobile_item_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background: #000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  transition: 0.3s all;
}
.mobile_item_plus:after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
  transition: 0.3s all;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #FF5656;
}

.choice_header {
  min-height: 499px;
  background: #070716;
}
.choice_title {
  padding: 50px 0px 10px 0px;
}
.choice_label {
  display: block;
  margin: 0 auto;
  width: 113px;
  height: 24px;
  font-weight: 400;
  font-size: 11px;
  background: #FFFFFF;
  color: #222222;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0px 0px 0px;
}
.choice_h3 {
  display: block;
  margin: 0 auto;
  width: 723px;
  line-height: 38px;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 37px;
}
.choice_text {
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 19px;
}
.choice_footer {
  min-height: 397px;
}
.choice_content {
  position: relative;
  width: 100%;
}
.choice_content > img {
  position: absolute;
  top: -265px;
  left: 174px;
}
.choice_descr {
  display: block;
  margin: 0px;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
  padding-top: 210px;
}

.terms {
  padding: 0px 0px 84px 0px;
}
.terms_label {
  display: block;
  margin: 0 auto;
  width: 113px;
  height: 24px;
  font-weight: 400;
  font-size: 11px;
  background: #000000;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0px 0px 0px;
}
.terms_h3 {
  display: block;
  margin: 0 auto;
  width: 723px;
  height: 38px;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin-top: 37px;
}
.terms_block {
  margin: 33px 0px;
}
.terms_block_nmb {
  margin-bottom: 0;
}
.terms_subtitle {
  font-size: 22px;
  font-weight: 400;
  color: #1EACC7;
}
.terms_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.terms_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 10px;
}
.terms_list li:before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: -32px;
  width: 21px;
  height: 20px;
  background: url("../img/4/check_blue.png");
}
.terms_descr {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1EACC7;
}
.terms ._red .terms_subtitle {
  color: #FF5656;
}
.terms ._red .terms_list li:before {
  content: "";
  background: url("../img/4/check_red.png");
}

.world {
  /* position: relative; */
  min-height: 720px;
  width: 100%;
  background: url("../img/4/world_bg.jpg") center center/cover no-repeat;
}
.world_title {
  padding: 50px 0px 10px 0px;
}
.world_label {
  display: block;
  margin: 0 auto;
  width: 113px;
  height: 24px;
  font-weight: 400;
  font-size: 11px;
  background: #FFFFFF;
  color: #222222;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0px 0px 0px;
}
.world_h3 {
  display: block;
  margin: 0 auto;
  width: 723px;
  height: 38px;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 37px;
}
.world_text {
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 19px;
}
.world_look {
  display: block;
  margin: 0 auto;
  width: 222px;
  height: 20px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
  margin-top: 456px;
}

.footer {
  min-height: 133px;
}
.footer_divider {
  width: 300px;
  height: 4px;
  margin: 2px auto 0px auto;
  background: #1FBAD6;
}
.footer_wrapper {
  display: flex;
  width: 100%;
}
.footer_left {
  display: flex;
  justify-content: start;
  padding-left: 20px;
}
.footer_social {
  width: 166px;
  display: flex;
  justify-content: space-between;
}
.footer_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
  margin: 29px 0px 0px 0px;
}
.footer_social_item i {
  margin: 0 4px;
  color: #FFFFFF;
}
.footer_links {
  padding-top: 32px;
}
.footer_links_main {
  display: flex;
  justify-content: center;
}
.footer_links_main a {
  display: inline-block;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: #070716;
  padding: 0px 22px;
}
.footer_links_sub {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}
.footer_links_sub a {
  display: inline-block;
  font-weight: 300;
  font-size: 11px;
  align-items: center;
  text-transform: uppercase;
  color: #999999;
  padding: 0px 11px 0px 11px;
}
.footer_links_lang {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}
.footer_links_lang a {
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  color: #1FBAD6;
}
.footer_store {
  margin-top: 32px;
  padding-right: 10px;
  cursor: pointer;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }

  .promo_header {
    font-size: 50px;
  }
  .promo_subheader {
    font-size: 34px;
  }

  .cause_item {
    align-items: flex-start;
  }
  .cause_descr {
    width: 350px;
  }

  .choice_content > img {
    left: 80px;
  }
}
@media (max-width: 991.98px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }

  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    width: 100%;
    margin-top: 23px;
    height: 36px;
  }

  .promo {
    min-height: 700px;
    padding: 40px 0px 40px 0px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .promo_descr {
    font-size: 14px;
  }
  .promo_btn {
    margin: 80px auto 0px auto;
  }

  .cause_h3 {
    margin-bottom: 30px;
  }

  .choice_content > img {
    position: absolute;
    width: 600px;
    top: -265px;
    left: -10px;
  }
  .choice_footer {
    min-height: 230px;
  }
  .choice_descr {
    padding-top: 100px;
  }

  .world {
    min-height: 500px;
  }
  .world_look {
    margin-top: 250px;
  }

  .footer_wrapper {
    display: block;
    width: 100%;
  }
  .footer_main {
    order: 1;
  }
  .footer_left {
    display: flex;
    justify-content: center;
    order: 2;
    padding-left: 20px;
  }
  .footer_store {
    margin-top: 32px;
    order: 3;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 5px 0;
  }
  .menu_link {
    font-size: 20px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 21px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -7px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(4px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(4px) rotate(45deg);
  }

  .xs-hidden {
    display: none;
  }

  .xs-visible {
    display: block;
  }

  .subheader_phone {
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 11px;
  }
  .subheader_btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    margin-top: 10px;
  }

  .promo_header {
    line-height: 45px;
  }

  .cause_item {
    width: 100%;
  }
  .cause_badge {
    margin: 0 auto;
  }
  .cause_descr {
    max-width: 540px;
  }

  .choice_content > img {
    width: 90%;
    position: absolute;
    top: -165px;
    left: 30px;
  }

  .ml-hidden {
    display: none;
  }

  .cause_h3,
.mobile_h3,
.choice_h3,
.world_h3,
.terms_h3 {
    width: 90%;
    font-size: 26px;
  }
}
@media (max-width: 575.98px) {
  .menu {
    width: 70%;
  }
  .menu_link {
    font-size: 14px;
  }

  .subheader {
    height: 60px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 18px;
  }
  .subheader_phone {
    font-size: 12px;
    margin-top: 11px;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 7px;
  }

  .promo {
    min-height: 400px;
    padding: 50px 0px 35px 0px;
  }
  .promo_header {
    font-size: 30px;
    line-height: 45px;
  }
  .promo_subheader {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 23px;
  }
  .promo_descr {
    display: none;
  }
  .promo_btn {
    width: 230px;
    height: 50px;
  }

  .cause_h3 {
    font-size: 16px;
    margin: 20px 0px 0px 0px;
    padding: 0px 5px;
  }
  .cause_item {
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }
  .cause_descr {
    max-width: 500px;
  }
  .cause_around {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  .mobile {
    padding-top: 20px;
  }
  .mobile_title {
    margin-top: 0;
    padding-top: 0;
  }
  .mobile_h3 {
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0px 0px 0px;
    padding: 0px 5px;
  }
  .mobile_text {
    font-size: 14px;
    line-height: 16px;
  }
  .mobile_item {
    width: 80%;
    height: 262px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 91px;
  }
  .mobile_item_subtitle {
    font-size: 14px;
  }
  .mobile_text {
    padding: 0 10px;
  }

  .footer {
    min-height: 133px;
  }
  .footer_divider {
    width: 200px;
  }
  .footer_links {
    padding-top: 32px;
  }
  .footer_links_main {
    display: flex;
    justify-content: center;
  }
  .footer_links_main a {
    font-size: 12px;
    padding: 0px 10px;
  }
  .footer_links_sub {
    display: inline;
    width: 300px;
    text-align: center;
    margin-top: 17px;
  }
  .footer_links_sub a {
    text-align: center;
    font-size: 10px;
    padding: 0px 10px;
  }
  .footer_links_store {
    margin-top: 32px;
  }
}
@media (max-width: 374.98px) {
  .cause_descr {
    max-width: 300px;
  }
}
* {
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=style1.css.map */